body {
  background-color: #000;
}

p {
  color: #f5eefc;
}

h1 {
  color: #9530d9;
}
h2,
h6 {
  color: #a34fdb;
}

.card-title {
  color: #a34fdb;
}

#email {
  font-weight: bold;
  color: #f5eefc;
}

.highlight-text {
  font-weight: bold;
  color: #a34fdb;
}
.decor-text-side {
  background-image: linear-gradient(to right, #9530d9, #3b0273);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 10rem;
  flex-grow: 1;
  display: flex;
  text-align: center;
  align-self: center;
}

.card {
  width: 8rem;
  background-color: #1b0035;
}

.navbar {
  margin-bottom: 2rem;
  height: 3rem;
}

a {
  text-decoration: none;
}

.tag {
  color: #f5eefc;
  padding: 0.25rem 0.5rem;
  border: 1px solid #3b0273;
  border-radius: 4px;
}
